/**
  * 基础样式文件
 */

/*--- 蓝色 ---*/
$color-blue-700: #014480;
$color-blue-600: #026ccc;
$color-blue-500: #0287FF;
$color-blue-400: #81c3ff;
$color-blue-300: #b3dbff;
$color-blue-200: #cce7ff;
$color-blue-100: #e6f3ff;

/*--- 黄色 ---*/
$color-yellow-700: #804a1a;
$color-yellow-600: #cc7629;
$color-yellow-500: #ffab33;
$color-yellow-400: #ffd18f;
$color-yellow-300: #ffe2b8;
$color-yellow-200: #fff2e0;
$color-yellow-100: #fff7eb;

/*--- 绿色 ---*/
$color-green-700: #1c6614;
$color-green-600: #2ca31f;
$color-green-500: #37cc27;
$color-green-400: #91e388;
$color-green-300: #b9edb3;
$color-green-200: #d7f5d4;
$color-green-100: #ebfae9;

/*--- 红色 ---*/
$color-red-700: #7e2a23;
$color-red-600: #ca4238;
$color-red-500: #fc5346;
$color-red-400: #fda099;
$color-red-300: #fecbc8;
$color-red-200: #ffe5e3;
$color-red-100: #ffeeed;

/*--- 黑色 ---*/
$color-black-800: #333333;
$color-black-700: #626262;
$color-black-600: #999999;
$color-black-500: #bfc4cd;
$color-black-400: #c3c6cc;
$color-black-300: #d3dce6;
$color-black-200: #eeeeee;
$color-black-100: #f9f9f9;
